<div class="bs-docs-section">
<div class="row">
<div class="bs-componect">
  <div class="modal-dialog">
    <div class="modal-content">
        <%= form_for(@book, :html => {:class => "form-horizontal"}, remote: true) do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>            
            <h2 class="modal-title"> New/Editing Book</h2>
          </div>
          
          <div class="modal-body">
            <% if @book.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
          
                <ul>
                <% @book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          
            <div class="field">
              <%= f.label :isbn ,:class=>"col-lg-2 control-label" %>
              <%= f.text_field :isbn ,:class=>"form-control" %>
            </div>
            <div class="field">
              <%= f.label :title ,:class=>"col-lg-2 control-label" %><br>
              <%= f.text_field :title ,:class=>"form-control" %>
            </div>
            <div class="field">
              <%= f.label :quantity ,:class=>"col-lg-2 control-label" %><br>
              <%= f.number_field :quantity ,:class=>"form-control quantity" %>
            </div>
            <div class="field">
              <%= f.label :unit_price ,:class=>"col-lg-2 control-label" %><br>
              <%= f.number_field :unit_price ,:class=>"form-control unit-price" %>
            </div>            
            <div class="field">
              <%= f.label :price ,:class=>"col-lg-2 control-label" %><br>
              <%= f.number_field :price ,:class=>"form-control subtotal" %>
            </div>
            <div class="field">
              <%= f.label :publish ,:class=>"col-lg-2 control-label" %><br>
              <%= f.text_field :publish ,:class=>"form-control" %>
            </div>
            <div class="field">
              <%= f.label :pubulished ,:class=>"col-lg-2 control-label" %><br>
              <%= f.date_select :pubulished ,:class=>"form-control" %>
            </div>
            <div class="field">
              <%= f.label :cd %><br>
              <%= f.check_box :cd %>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
              <%= f.submit :class => "btn btn-primary" %>
          </div>

        <% end %>
    </div>
</div>
</div>    
</div>
</div>

